@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Oswald:wght@400;700&display=swap');

html {
  --accent-color: #97d28b;
  --accent-light: #dcefd8;
  --main-color: #173d33;
  --white: #ffffff;
  --gray-bg: #eaedf1;
  --error: #d28b8b;

  --transition-bg: background-color 300ms ease-in-out;
  --transition-color: color 300ms ease-in-out;
  --transition-border: border 300ms ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden {
  overflow: hidden;
}

/* ----- swiper pagination----- */

.swiper {
  position: relative;
  padding-top: 88px;
}

.swiper-pagination-fraction {
  position: absolute;
  top: 39px;
  left: 0;
  color: hsla(164, 45%, 16%, 0.25);
  font-family: 'Fira Sans';
  font-size: 28px;
  font-weight: 300;
  /* display: block; */
}

.swiper-pagination-current {
  color: var(--main-color);
}

/* ---------- */
